body {
  background-color: darkslateblue;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-in-out;
}
main {
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  width: 90%;
}
